/*for testing*/
/*
body {
    background-color: skyblue;
}
*/
body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: pink;
    position: relative;
    height: 100vh; /*(100% of the height of screen, 100% is the height of content--not responsive)*/
}

/*just set the color*/
/*set position here as JS no need to get info. from here*/
#player {
    background-color: red;
    position: absolute;
}

.obstacle {
    position: absolute;
    background-color: yellow;
}

#page-gameover {
    background-color: green;   
    }

    h1 {
        text-align: center;
        font-size: 10vw;
    }

    a {
       position: relative;
       left: 40vw;
       color: red; 
       text-align: center;
       font-size: 4vw;
    }